

    <h3><%= data.id%></h3>
    <h3><%= data.name%></h3>
    <h3><%= data.email%></h3>
    <h3><%= data.contact%></h3>
    <h3><%= data.address%></h3>
    <h3><%= data.destination%></h3>
    <img height="200" src="<%= data.image%>" alt="">


